{% extends "layout.html" %}

{% block main %}

    {% with message = get_flashed_messages(with_categories=True)[0] %}
        {% if message %}
            <div class="alert alert-{{ message[0] }} aler-dismissable fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message[1] }}
            </div><!-- /.alert -->
        {% endif %}
    {% endwith %}

    <section>

        <h2 class="text-center">Manage Platforms</h2>

        <div class="row">

            <div class="col-sm-6">
                <h3>My Platforms</h3>
                {% if user_platforms %}
                    <ul class="list-group platform-list">
                    {% for platform in user_platforms %}
                        <li class="list-group-item">
                            <form action="{{ url_for('delete_platform') }}" method="post">
                                <input type="hidden" name="platform_name" value="{{ platform.name }}">
                                <button type="submit" class="btn btn-default" title="Delete platform">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </form>
                            {{ platform.name }}
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <div class="alert alert-info text-center">You haven't added any platforms yet.</div>
                {% endif %}
            </div><!-- /.col-sm-6 -->

            <div class="col-sm-6">
                <h3>Add a Platform</h3>
                <form class="form-inline" action="{{ url_for('add_platform') }}" method="post">
                    <div class="form-group">
                        <input class="form-control" type="text" name="platform_name" list="platforms" required>
                        <datalist id="platforms">
                            {% for platform in platforms %}
                                <option>{{ platform.name }}</option>
                            {% endfor %}
                        </datalist>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Platform</button>
                </form>
            </div>

        </div><!-- /.row -->

    </section>

{% endblock %}
