{% extends "layout.html" %}

{% block title %}
    Tracklog: {{ current_user.username }}'s backlog
{% endblock %}

{% block main %}
    {% with message = get_flashed_messages(with_categories=True)[0] %}
        {% if message %}
            <div class="alert alert-{{ message[0] }}" role="alert">
                {{ message[1] }}
            </div>
        {% endif %}
    {% endwith %}

    <form class="form-inline" action="{{ url_for('backlog') }}" method="post">
        <input type="hidden" name="igdb_id">
        <input type="hidden" name="image_url">
        <div class="form-group">
            <input class="form-control" id="game-search" type="text" name="game_name" placeholder="Game name" required>
        </div>
        <div class="form-group game-panel" style="display: none;">
            <div class="panel panel-default form-control" style="margin-bottom: 0;">
                <div class="panel-body" style="padding: 0;"></div>
            </div>
        </div>
        <div class="form-group" id="platform-select">
            <select class="form-control" name="platform" required>
                <option>Platform</option>
                {% if platforms %}
                    {% for platform in platforms %}
                        <option>{{ platform.name }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Add to backlog</button>
        </div>
    </form>
    <div class="game-results"></div>
    {% if entries %}
        <ul class="list-group">
        {% for entry in entries %}
            <li class="list-group-item" data-game-id="{{ entry.igdb_id }}" data-entry-id="{{ entry.id }}">
                <img src="{{ entry.image_url }}" alt="{{ entry.game }}">
                <div style="display: inline-block">
                    {{ entry.game }}
                    <form action="{{ url_for('delete') }}" method="post">
                        <input type="hidden" name="id" value="{{ entry.id }}">
                        <button type="submit" class="btn btn-default">
                            <i class="fa fa-trash" aria-hidden="true" style="display: block; color: crimson; font-size: 20px;"></i>
                        </button>
                    </form>
                </div>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
