{% extends "layout.html" %}

{% block title %}
    Tracklog: {{ current_user.username }}'s backlog
{% endblock %}

{% block main %}
    <form class="form-inline" action="" method="post">
        <div class="form-group">
            <input class="form-control" id="game-search" type="text" name="game_name" placeholder="Game name" required>
        </div>
        <div class="form-group game-panel" style="display: none;">
            <div class="panel panel-default form-control" style="margin-bottom: 0;">
                <div class="panel-body" style="padding: 0;"></div>
            </div>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="platform" placeholder="Platform" required>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Add to backlog</button>
        </div>
    </form>
    <div class="game-results"></div>
    {% if games %}
        <ul class="list-group">
        {% for game in games %}
            <li class="list-group-item" data-game-id="{{ game.id }}">
                <img class="img-responsive" src="{{ game.cover.url }}" alt="{{ game.name }}">
                {{ game.name }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
