{% extends "layout.html" %}

{% block title %}
    Tracklog: {{ current_user.username }}'s backlog
{% endblock %}

{% block main %}
    {% with message = get_flashed_messages(with_categories=True)[0] %}
        {% if message %}
            <div class="alert alert-{{ message[0] }} aler-dismissable" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message[1] }}
            </div>
        {% endif %}
    {% endwith %}

    <form class="form-inline" action="{{ url_for('backlog') }}" method="post">
        <input type="hidden" name="igdb_id">
        <input type="hidden" name="image_url">
        <div class="form-group">
            <input class="form-control" type="text" name="game_name" placeholder="Game name" required>
            <div class="panel panel-default form-control game-panel">
                <div class="panel-body"></div>
            </div>
        </div>
        <div class="form-group">
            <select class="form-control" name="platform" required>
                <option>Platform</option>
                {% if platforms %}
                    {% for platform in platforms %}
                        <option>{{ platform.name }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Add to backlog</button>
        </div>
    </form>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <ul class="list-group result-list"></ul>
        </div>
    </div>
    {% if entries %}
        <ul class="list-group">
        {% for entry in entries %}
            <li class="list-group-item" data-game-id="{{ entry.igdb_id }}" data-entry-id="{{ entry.id }}">
                <div class="list-content-wrapper">
                <img src="{{ entry.image_url }}" alt="{{ entry.game }}">
                    {{ entry.game }}
                    <form action="{{ url_for('delete') }}" method="post">
                        <input type="hidden" name="id" value="{{ entry.id }}">
                        <button type="submit" class="btn btn-default">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
