{% extends "layout.html" %}

{% block title %}
    Tracklog: {{ current_user.username }}'s {{ list_type }}
{% endblock %}

{% block main %}
    {% with message = get_flashed_messages(with_categories=True)[0] %}
        {% if message %}
            <div class="alert alert-{{ message[0] }} aler-dismissable fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message[1] }}
            </div><!-- /.alert -->
        {% endif %}
    {% endwith %}

    <form class="form-inline" action="{{ url_for('add_game', list_type=list_type) }}" method="post">
        <input type="hidden" name="igdb_id">
        <input type="hidden" name="image_url">
        <div class="form-group">
            <input class="form-control" type="text" name="game_name" placeholder="Game name" required>
            <div class="panel panel-default form-control game-panel">
                <div class="panel-body"></div>
            </div>
        </div><!-- /.form-group -->
        <div class="form-group">
            <select class="form-control" name="platform" required>
                <option>Platform</option>
                {% if platforms %}
                    {% for platform in platforms %}
                        <option>{{ platform.name }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div><!-- /.form-group -->
        <button class="btn btn-primary" type="submit">Add to {{ list_type }}</button>
    </form>
    <div class="row list-container">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <ul class="list-group result-list"></ul>
        </div>
    </div><!-- /.row -->
    {% if list_entries %}
        <div class="panel-group" role="tablist" aria-multiselectable="true">
        {% for platform, entries in list_entries|dictsort %}
            {% if entries %}
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading{{ loop.index }}">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" href="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                                <i class="fa fa-minus-square-o" aria-hidden="true"></i>{{ platform }}
                            </a>
                        </h4>
                    </div><!-- /.panel-heading -->

                    <div id="collapse{{ loop.index }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading{{ loop.index }}">
                        <ul class="list-group">
                        {% for entry in entries %}
                            <li class="list-group-item" data-game-id="{{ entry.igdb_id }}"">
                                <div class="list-content-wrapper">
                                <img src="{{ entry.image_url }}" alt="{{ entry.game }}">
                                    {{ entry.game }}
                                    <form action="{{ url_for('delete_game', list_type=list_type) }}" method="post">
                                        <input type="hidden" name="entry_game" value="{{ entry.game }}">
                                        <input type="hidden" name="entry_platform" value="{{ platform }}">
                                        <button type="submit" class="btn btn-default" title="Delete from {{ list_type }}">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                </div>
                            </li>
                        {% endfor %}
                        </ul>
                    </div><!-- /.panel-collapse -->
                </div><!-- /.panel-default -->
            {% endif %}
        {% endfor %}
        </div><!-- /.panel-group -->
    {% else %}
        <div class="alert alert-info text-center">Your {{ list_type }} is currently empty.</div>
    {% endif %}
{% endblock %}
